.product-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  /*padding: 16px;*/
  border-radius: 8px;
  padding: 1%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.19);
  flex-basis: 22%;
  margin-bottom: 48px;
}
.product-ctn img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.product-ctn p {
  font-size: 0.925rem;
  line-height: 1.6rem;
}
.product-ctn button {
  display: block;
  height: 40px;
  margin-top: 32px;
  width: 100%;
  background: #EA8D51;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
}